<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto">
      <h2 class="p-3" style="color: #3a5b52;"><h2><strong>もみじ</strong>へようこそ</h2>
    </div>
  </div>
</div>
