<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 mx-sm-auto">　
    <div class="cover-container d-flex w-800 h-800 mx-auto flex-column">
      <%= image_tag "top-001.png" %>
      
    </div>
   
    </div>
  </div>
</div>
