<div class="container">
  <div class="row">
    <h3 class="pl-3 pt-3" style="color: #3a5b52;">ユーザー</h3>
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto">
      
      <!--検索 -->
      <div class="pb-5">
       <%= render 'layouts/search' %>
      </div>
      
      <!-- ユーザー一覧 -->
      <table class="table">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>会員タイプ</th>
            <th>アカウント状況</th>
          </tr>  
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td>
              <% if user.is_general %>
                <p>一般</p>
              <% else %>  
                <p>開催者</p>
              <% end %> 
            </td>
            <td>
              <% if user.is_active %>
                <p class="text-success">有効</p>
              <% else %>  
                <p class="text-muted">停止</p>
              <% end %>  
            </td>  
          </tr>
          <% end %>
        </tbody>
      </table>  
      <div class="d-flex justify-content-center">
        <%= paginate @users, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>  
