<div class="container">
  <div class="row">
    <h2 class="pl-3 pt-3" style="color: #3a5b52;">カテゴリー編集</h2>
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto">
      <%= form_with model: @category, url: admin_category_path(@category.id), local:true do |f| %>
        <div class="d-flex">
          <div class="m-2"><%= f.text_field :name %></div>
          <div class="m-2"><%= f.submit '変更を保存', class: "btn btn-outline-success btn-lg" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
