<!-- ユーザーの詳細 -->
<h2>ユーザー詳細</h2>
<div>
  <p>アイコン</p>
  <%= image_tag user.get_profile_image(100,100) %>
  <p>ユーザー名：　<%= user.name %></p>
  <% if user.is_general %>
    <p>一般</p>
  <% else %>  
    <p>開催者</p>
  <% end %>  
  <p>自己紹介：　<%= user.introduction %></p>
   <% if user.is_active %>
    <p>有効</p>
  <% else %>  
    <p>退会</p>
  <% end %>  
</div>
