<div class="container">
  <div class="row">
    <% if @user.is_active %>
      <!-- ユーザー詳細 -->
      <div class="col-md-3">
        <%= render 'info', user: @user %>
        <% if @user == current_user %>
          <%= link_to "プロフィール編集", "/#{current_user.name}/edit", class: "btn btn-outline-primary" %>
        <% end %>
      </div>  

      <!-- ユーザーの投稿一覧-->
      <div class="col-md-8 offset-md-1 mx-auto">
        <%= render 'userpost', {user: @user, posts: @posts} %>
      </div>  

    <% end %>
  </div>
</div>  
